<html lang='en'>

  <body>
    <p>Hello {{name}},</p>
    <p>Welcome to AppointEase,</p>
    <p>
      Click
      <b><a href='{{link}}' target='_blank'>here</a></b>
      to activate your acount or go to this link: 
      <br/>
      <br/>
      {{link}}
    </p>
    <p>This link will expire in an hour.</p>
    <br />
    <b>
      <p>Best of luck,<br/>
      AppointEase Team</p>
    </b>
  </body>

</html>